# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

- **Consider a significance level of 5% for all tests.**

In [1]:
# import numpy and pandas

import numpy as np
import pandas as pd

import scipy.stats as st

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [3]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

Let's start off by looking at the `head` function in the cell below.

In [4]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [7]:
# Your code here:

pokemon.groupby(['Legendary'])['Name'].agg('count')

Legendary
False    735
True      65
Name: Name, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [13]:
pokemon[pokemon['Legendary']==False]['Total']
pokemon[pokemon['Legendary']==True]['Total']

156    580
157    580
158    580
162    680
163    780
      ...
795    600
796    700
797    600
798    680
799    600
Name: Total, Length: 65, dtype: int64

In [15]:
# Your code here:

#Mean and std of Non-Legendary
mean_non=pokemon[pokemon['Legendary']==False]['Total'].mean()
std_non=pokemon[pokemon['Legendary']==False]['Total'].std()


#Mean and std of Non-Legendary
mean=pokemon[pokemon['Legendary']==True]['Total'].mean()
std=pokemon[pokemon['Legendary']==True]['Total'].std()


print(mean_non)
print(std_non)

print(mean)
print(std)

417.21360544217686
106.76041745713022
637.3846153846154
60.93738905315346

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [25]:
# Your code here:

#sample
sample_1=pokemon[pokemon['Legendary']==False]['Total'].sample(30)
sample_2=pokemon[pokemon['Legendary']==True]['Total'].sample(30)


st.ttest_ind(sample_1,sample_2,equal_var=False)

Ttest_indResult(statistic=-9.747458694636386, pvalue=3.2609031232289253e-12)

What do you conclude from this test? Write your conclusions below.

In [ ]:
# Your conclusions here:

#p-value is lower than 5% so we have to reject the null and accept that there is a significant difference between the two groups.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [30]:
# Your code here:

pokemon.groupby(['Type 1'])['Name'].agg('count')

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: Name, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [40]:
# Your code here:

#sample
sample_1_=pokemon[pokemon['Type 1']=='Water']['Total'].sample(30)
sample_2_=pokemon[pokemon['Type 1']!='Water']['Total'].sample(30)


mean_water=sample_1_.mean()
std_water=sample_1_.std()

mean_nowater=sample_2_.mean()
std_nowater=sample_2_.std()

print(mean_water)
print(std_water)
print(mean_nowater)
print(std_nowater)

427.1
124.69282256810133
424.56666666666666
108.7866254879591

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [42]:
# Your code here:

st.ttest_ind(sample_1_,sample_2_)

Ttest_indResult(statistic=0.08385207241676165, pvalue=0.9334627949855449)

Write your conclusion below.

In [ ]:
# Your conclusions here:

#p-value is greater than the significance level (5%) so we can not reject the null hypotesis that is that the means are equal

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [48]:
# Your code here:

sample_1=pokemon['Attack']
sample_2=pokemon['Defense']

st.ttest_rel(sample_1,sample_2)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [50]:
# Your conclusions here:
#p-value is lower than the significance level (5%) so we have to reject the null hypotesis that is that the means are equal

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [ ]:
# Your code here:

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [54]:
# Your code here:
    
pokemon['Diference']=pokemon['Attack']-pokemon['Defense']

st.ttest_1samp(pokemon['Diference'],0)


#Yes, the results are the same than in the example above

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [ ]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [ ]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here: